
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}
nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    margin-left: auto;
    margin-top: 10px;
}

nav a {
    color: rgb(0,0,0, 0.9);
}
 a {
    
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
nav img {
    height: 20px;
}
/* Sign In button styling goes below */
nav button{
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    color: #fff;
    padding: 7px 12px;
    border-radius: 3px;
    margin-left: 7px;
    cursor: pointer;
}
/* Ends here */

main{
    width: 50%;
    margin: 7.8em auto;
    text-align: center;
    
}

input{
    width: 100%;
    padding: 1em;
    border: 1px solid gray;
    border-radius: 30px;
}

input[type="text"] { 
     outline: 0;
} 

.button_house{
    margin-top: 1em;

}
.button_house button{
    /* added margin-left */
    margin-left: 5px; 
    border: none;
    width: 8rem;
    height: 2.5rem;
    border-radius: 3px;
}

.button_house button:hover {
    border: 1px solid gray;

}
/* google_languages styling goes below */
.google_languages{
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
    color: #111
}
.google_languages a{
    margin-left: 5px;
    color: #1a0dab
}
.google_languages a:hover{
    text-decoration: underline;
}

footer{
    background-color: rgb(240,236,236);
    color: rgb(0,0,0, 0.54);
}
.footer_top{
    padding: 1em;
}
.footer_bottom{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
}
.left a{
    margin-right: 1em;
}
.right a{
    margin-right: 1em;
}

/* media query */
/* @media only screen and (max-width: 800px) {
    nav {
        padding: 1rem;
        width: 100vw;
    }
    main img {
        width: 40%;
    }
    input {
        width: 80%;
    }
    
    input[type="text"] {
        width: 100%;
    }
     

    div.button_house { 
         display: flex;
         /* position: relative; */
        /* flex-direction: row;
        align-items: center;
    } 

    .button_house button {
        align-items: center;
        text-align: center;
        padding: 0.5px;
    }

    #google_search {
        display: flex;
        /* border: 1px solid black; */
        /* margin-left: 25px;
    } */

    /* #Feeling_lucky {
        display: flex; */
        /* border: 1px solid black; */
        /* margin-left: 15px; */
        /* padding: 0px;
    }

    .right a{
        margin-right: 5px;
        padding: 1em;
        display: flex;
        text-align: justify;
        flex-direction: column;
        justify-content: space-between;
        

    }
    .left a{
        margin-left: 5px;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    #carbon {
        text-align: center;
    }

     */
 /* } */